@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
}

.body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.logo {
  grid-row: 1;
  padding: 2rem;
  text-align: center;
  background-color: #9cd3b9;
  font-size: 30px;
}
.search {
  grid-row: 2;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.search-bar {
  border: black solid 1px;
  padding: 0.5rem;
  width: 80%;
  margin-right: 0.5rem;
}

.search-button {
  border: black solid 1px;
  padding: 0.5rem;
  width: 10%;
}
.all-posts {
  grid-row: 3;
  display: grid;
  grid-template-columns: 65% 35%;
  height: 50rem;
}
.old-post {
  padding: 3rem;
  grid-column: 1;
  border: black solid 1px;
}

.new-post {
  padding: 3rem;
  grid-column: 2;
  border: black solid 1px;
}

.login-bar {
  grid-row: 1;
  padding: 2rem;
  text-align: right;
  background-color: #9cd3b9;
}

.login {
  padding: 1rem;
  margin-right: 1rem;
  border: black solid 1px;
}

.logout {
  padding: 1rem;
  margin-right: 1rem;
  border: black solid 1px;
}

.site-nav {
  padding: 1rem;
  margin-right: 1rem;
  border: black solid 1px;
}
