@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

.body {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: auto;
}

.logo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin: auto;
    padding: 2rem;
    text-align: center;
    background-color: #9CD3B9;
}
.search {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: auto;
    padding: 1rem;
}

.search-bar {
    border: black solid 1px;
    margin: auto;
    padding: 0.5rem;
    width: 70%;
}

.search-button {
    border: black solid 1px;
    margin: auto;
    padding: 0.5rem;
    width: 10%;
}

.old-post {
    margin: 1rem;
    padding: 3rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border: black solid 1px;
}

.new-post {
    margin: 1rem;
    padding: 3rem;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border: black solid 1px;
}

